body{
    background-color: rgb(153, 49, 49);
    font-family: cursive;
  }
  
  .glow {
      margin-bottom: 60px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #52474c, 0 0 40px #2300e6, 0 0 50px #005ce6, 0 0 60px #00e645, 0 0 70px #e66f00;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff34d, 0 0 40px #ff4d4d, 0 0 50px #4dc7ff, 0 0 60px #e64040, 0 0 70px #85727b, 0 0 80px #4df9ff;
    }
  }

  ul {
    list-style-type: none;
    margin-right: 190px;    padding: 0;
    overflow: hidden;
    font-size: 20px;
    
  }
  
  li {
    float: right;
    margin-bottom: 50px;
    
  }
  
  li a {
    display: block;
    padding: 8px;
 
   
  }